#RPC endpoint za Sepolia (Alchemy)
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/TVOJ_ALCHEMY_KEY

#Privatni kljuc MetaMask naloga
PRIVATE_KEY=0xabc123...

#Etherscan API key za verifikaciju koda ugovora
ETHERSCAN_API_KEY=
